extends layout
//- 2h17
block meetingroom 
    div(class="meetingroom container-fluid")
        div(class="row")
            div(class="col-md-9 p-0")
                div(class="meetingroom__video d-flex flex-column")
                    div(class="meetingroom__videoContainer d-flex justify-content-center align-items-center", id="videoContainer")
                    div(class="meetingroom__buttons d-flex justify-content-center align-items-center")
                        div(class="meetingroom__button d-flex align-items-center flex-column") 
                            i(class="text-light fas fa-microphone")
                            p(class="mb-0 text-light") Audio
                        div(class="meetingroom__button d-flex align-items-center flex-column")
                            i(class="text-light fas fa-power-off")
                            p(class="mb-0 text-light") Leave
                        div(class="meetingroom__button d-flex align-items-center flex-column")
                            i(class="text-light fas fa-video")
                            p(class="mb-0 text-light") Video
            div(class="col-md-3 p-0")
                div(class="meetingroom__chat") chat