.meetingroom__videoContainer {
    height: 100vh;
}

video {
	width: 15rem;
	height: 12rem;
    width: 100%;
    object-fit: cover;
}

.meetingroom__video,
.meetingroom__chat {
    height: 100vh;
}

.meetingroom__video {
    background-color: black;
}

.meetingroom__controller {
    background-color: #262626;
    padding: 0.7rem 1rem;
}

.meetingroom__buttons {
    object-fit: cover;
}

.meetingroom__button {
    cursor: pointer;
}

.meetingroom__button > i {
    font-size: large;
}

.meetingroom__button:hover > i,
.meetingroom__button:hover > p {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
}

.meetingroom__chat {
    background-color: #f1f2f5;
}

.meetingroom__chatBox {
    flex: 1;
    overflow-y: auto;
}

.meetingroom__chatMessages {
    padding-inline-start: 0;
    list-style-type: none;
}

#meetingRoomIdToShare {
    position: absolute;
    left: -99999rem;
}

#leaveButton {
    text-decoration: none;
}

.meetingroom__timeline {
    color: grey;
}

@media (max-width: 600px) {
    .meetingroom__controller {
        flex-direction: column;
    }

    .meetingroom__buttons {
        margin-top: 1rem;
    }
    .meetingroom__chat {
        height: 15rem;
		bottom: 0;
		position: absolute;
    }
	.meetingroom__videoContainer,.meetingroom__chat{
		height: auto;
	}
	.meetingroom__video{
		height: auto;
	}
}
